[Unit]
Description=VeryNginx Firewall Helper Socket
Before=nginx.service

[Socket]
ListenStream=/run/verynginx/firewall-helper.sock
SocketMode=0660
Group=verynginx
DirectoryMode=0750

[Install]
WantedBy=sockets.target
